# Создаем датафрейм

In [44]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [45]:
city_list = ['Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург',
             'Казань', 'Нижний Новгород']
popul_list = [12600000, 5400000, 1625000, 1500000, 1300000, 1250000]

index_list = [1, 2, 3, 4, 5, 6]

In [46]:
df = pd.DataFrame(columns = ['city', 'population'], index = index_list)

df.head()

  city population
1  NaN        NaN
2  NaN        NaN
3  NaN        NaN
4  NaN        NaN
5  NaN        NaN

In [47]:
df['city'] = city_list
df['population'] = popul_list

df.head()

              city  population
1           Москва    12600000
2  Санкт-Петербург     5400000
3      Новосибирск     1625000
4     Екатеринбург     1500000
5           Казань     1300000

### LabelEncoder

In [48]:
labelencoder = LabelEncoder()

df['city_label'] = labelencoder.fit_transform(df['city'])
df.head()

              city  population  city_label
1           Москва    12600000           2
2  Санкт-Петербург     5400000           5
3      Новосибирск     1625000           4
4     Екатеринбург     1500000           0
5           Казань     1300000           1

In [49]:
labelencoder.inverse_transform([2,4,1])

array(['Москва', 'Новосибирск', 'Казань'], dtype=object)

### OneHotEncoding

In [50]:
ohe = OneHotEncoder()

In [51]:
df_ohe = pd.DataFrame(ohe.fit_transform(df[['city_label']]).toarray())

df = df.join(df_ohe)

In [53]:
df

              city  population  city_label    0    1    2    3    4    5
1           Москва    12600000           2  0.0  0.0  0.0  0.0  0.0  1.0
2  Санкт-Петербург     5400000           5  0.0  0.0  0.0  0.0  1.0  0.0
3      Новосибирск     1625000           4  1.0  0.0  0.0  0.0  0.0  0.0
4     Екатеринбург     1500000           0  0.0  1.0  0.0  0.0  0.0  0.0
5           Казань     1300000           1  0.0  0.0  0.0  1.0  0.0  0.0
6  Нижний Новгород     1250000           3  NaN  NaN  NaN  NaN  NaN  NaN

### Pandas get_dummies

In [55]:
dm_df = pd.get_dummies(df, columns = ['city_label'], prefix = ['get_D'])
dm_df

,city,population,0,1,2,3,4,5,get_D_0,get_D_1,get_D_2,get_D_3,get_D_4,get_D_5
1,Москва,12600000,0.0,0.0,0.0,0.0,0.0,1.0,0,0,1,0,0,0
2,Санкт-Петербург,5400000,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0,1
3,Новосибирск,1625000,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1,0
4,Екатеринбург,1500000,0.0,1.0,0.0,0.0,0.0,0.0,1,0,0,0,0,0
5,Казань,1300000,0.0,0.0,0.0,1.0,0.0,0.0,0,1,0,0,0,0
6,Нижний Новгород,1250000,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0,0